/*
Darkest: #1d2120
Gray: #5a5c51
Washed out red: #ba9077
Redder red: #c74141
Grayish blue: #bcd5d1
White : #ffffff
font-family: 'Roboto','Arial', sans-serif
font-family: 'Roboto Slab','times new roman', serif;
*/

/* CONSTANTS */
.redish
{
    color: #c74141;
}
.gray
{
	color:	#5a5c51;
}
.bluish
{
	color:#bcd5d1;
}
.black
{
	color:black;
}
.white
{
	color:#ffffff;
}
.bg-1
{
     background-color:#1d2120;
}
.bg-2
{
    background-color:#ffffff;
}

/* SETUP */
body
{
    background-color: #ffffff;
}

/* NAVIGATION BAR */

.navbar
{
    margin: 0;
    font-size: 22px;
    font-family: 'Roboto','Arial', sans-serif;
    box-shadow: 4px 2px 12px #1d2120;
	background-color: white;	
}


#nav-github
{
    padding-top: 12px;
}

.navbar .glyphicon
{
	padding-right: 12px;
}

#flag
{
	padding-top:20px;
	width:24px;
}

/* WELCOMING */
.jumbotron
{   
    padding-top:72px;
    color:#ffffff;
    font-family: 'Roboto Slab','times new roman', serif;
    margin: 0;
}

#profile-pic
{
    width: 256px;
    margin: 64px auto;
}

/* ABOUT ME */
article .container-fluid
{
	padding:64px;
}

.about-me 
{
	color: #5a5c51;
}

.about-me img
{
	width: 500px;
	height: 350px;
}

.carousel img 
{
    min-width: 100%;
}

.break-all
{
	word-break: break-all;	
}

/* FOOTER */
footer div p
{
	padding: 64px 0 48px 0;
	color:white;
}

#footer-github
{
	margin-left: 8px;
}

/*  PROJECTS ONLY */
.caption
{
	min-height: 128px;
}	
	
.jumbotron a
{
	text-decoration: underline;
	color:#ffffff;
}

#demo-video-close
{
	margin-top:12px;	
}

.projetos
{
	padding-bottom: 24px;
}


@media (max-width: 768px) 
{
	.caption
	{
		min-height: 0px;	
	}
	.contact-text
	{
		display: block;
	}
}

@media all and ( min-width: 768px ) {
    div .embed-responsive{ 
        width:560px;
        padding-bottom:315px !important;
		margin: auto;
    }
}