/* Common Variables */
:root {
  --primary-color: #df5b99;
  --light-color: #e4e4e4;
  --dark-pink: #df5b99bf;
  --light-pink: #fc8dc5;
  --purple: #7f12aa;
  --green: #0b9238;
  --light-green: #60c482;
  --white-color: #fff;
}

/* Global and Misc Styles */
html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: var(--white-color);
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: var(--primary-color);
	&.title {
		text-align: center;
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.division {
	width: 90vw;
	height: 2px;
	margin: auto;
	background-color: var(--light-color);
	margin: 0 auto;
}

.invisilayer {
	right: 0;
	&.active {
		display: block;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 5;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
}

.social {
	.centered {
		margin: auto;
		width: 120px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		a {
			width: 20px;
			height: 20px;
			background-size: 100%;
			background-position: center;
			&.face {
				background-image: url("../icons/facebook.svg");
				&:hover {
					background-image: url("../icons/facebook-pink.svg");
				}
				&.white {
					background-image: url("../icons/facebook-white.svg");
				}
			}
			&.insta {
				background-image: url("../icons/instagram.svg");
				&:hover {
					background-image: url("../icons/instagram-pink.svg");
				}
				&.white {
					background-image: url("../icons/instagram-white.svg");
				}
			}
			&.tweet {
				background-image: url("../icons/twitter.svg");
				&:hover {
					background-image: url("../icons/twitter-pink.svg");
				}
				&.white {
					background-image: url("../icons/twitter-white.svg");
				}
			}
			&.whats {
				background-image: url("../icons/whatsapp.svg");
				&:hover {
					background-image: url("../icons/whatsapp-pink.svg");
				}
				&.white {
					background-image: url("../icons/whatsapp-white.svg");
				}
			}
		}
	}
}

/* Floating Navigation Bar and Hamburger */
nav {
	position: fixed;
	left: 0;
	right: 0;
	top: -2px;
	height: 42px;
	font-family: 'Open Sans', sans-serif;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 10;

	div.side-nav-content {
		position: absolute;
		background-color: var(--light-green);
		z-index: 2;
		font-size: 12px;
		top: 0;
		left: 0;
		width: 50%;
		transform: translateX(-110%);
		transition: transform 0.5s;
		height: 100vh;
		box-shadow: 1px 10px 2px 2px rgba(0,0,0,.15);
		margin: 0;
		display: flex;
		align-items: center;
		&.active {
			transform: translateX(0);
		}

		& > ul {
			list-style: none;
			width: 100%;
			padding-top: 4px;
			padding-bottom: 4px;
			padding-left: 0;
			& > li {
				cursor: pointer;
				padding: 12px;
				border-top: 1px solid var(--white-color);
				color: var(--white-color);
				display: flex;
				align-items: center;
				font-size: 14px;

				a {
					text-decoration: none !important;
					color: inherit !important;
				}

				&::before {
					content: "";
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: transparent;
					margin-right: 10px;
				}
				& > .drop-list {
					position: absolute;
					top: -400px;
					opacity: 0;
					transition: opacity 0.4s;
					z-index: 5;
					padding: 20px 0;
					background: var(--white-color);
					&::after {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						top: 16px;
						bottom: 0;
						width: 3px;
						background: var(--light-green);
					}
					& > a {
						display: block;
						font-style: normal;
						text-decoration: none;
						margin-top: 16px;
						color: #000 !important;
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-items: center;
						width: 100%;
						padding: 0 16px;
						&:hover {
							text-decoration: underline;
						}
						&  > .icon{
							width: 16px;
							height: 16px;
							margin-right: 8px;
						}
					}
				}
				&.active {
					font-weight: bold;
					font-size: 16px;

					&::before {
						background-color: var(--white-color);
					}
				}
				&:hover .drop-list {
					opacity: 1;
					top: 0;
					left: 100%;
					padding: 0;
					padding-bottom: 16px;
					&::after {
						top: 0;
					}
				}
				&:hover {
					transform: translateY(-2px);
				}
				&:nth-child(1) {
					border-top: none;
				}
			}
		}
	}


	& > .burger {
		display: block;
		position: fixed;
		left: 14px;
		top: 15px;
		width: 22px;
		height: 18px;
		z-index: 3;
		& > .line {
			position: absolute;
			width: 100%;
			height: 3px;
			background: var(--light-green);
			transition: transform .3s;
    		border-radius: 50px;
			transition: transform 0.3s, background-color .5s;
		}
		& > .line:nth-child(1) {
			top: 0;
			transform: translateY(0);
		}
		& > .line:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
		}
		& > .line:nth-child(3) {
			top: 100%;
			transform: translateY(-100%);
		}
		&.active {
			& > .line:nth-child(1) {
				animation: topLine .5s;
				animation-fill-mode: forwards;
			}
			& > .line:nth-child(2) {
				animation: centerLine .5s;
				animation-fill-mode: forwards;
			}
			& > .line:nth-child(3) {
				animation: bottomLine .5s;
				animation-fill-mode: forwards;
			}
			& > .line {
				background-color: var(--white-color);
			}
		}
		&.closed {
			& > .line:nth-child(1) {
				animation: topLineReverse .5s;
				animation-fill-mode: forwards;
			}
			& > .line:nth-child(2) {
				animation: centerLineReverse .5s;
				animation-fill-mode: forwards;
			}
			& > .line:nth-child(3) {
				animation: bottomLineReverse .5s;
				animation-fill-mode: forwards;
			}
		}
	}
}

@keyframes topLine {
	0%{
		top: 0;
		transform: translateY(0) rotate(0);
	}
	50%{
		top: 50%;
		transform: translateY(-50%) rotate(0);
	}
	100%{
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
	}
}
@keyframes centerLine {
	0%{
		top: 50%;
		transform: translateY(-50%);
		opacity: 1;
	}
	50%{
		top: 50%;
		transform: translateY(-50%);
		opacity: 0;	
	}
	100%{
		top: 50%;
		transform: translateY(-50%);
		opacity: 0;
	}
}
@keyframes bottomLine {
	0%{
		top: 100%;
		transform: translateY(-100%) rotate(0);
	}
	50%{
		top: 50%;
		transform: translateY(-50%) rotate(0);
	}
	100%{
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
}
@keyframes topLineReverse {
	0%{
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
	}
	50%{
		top: 50%;
		transform: translateY(-50%) rotate(0);
	}
	100%{
		top: 0;
		transform: translateY(0) rotate(0);
	}
}
@keyframes centerLineReverse {
	0%{
		top: 50%;
		transform: translateY(-50%);
		opacity: 0;
	}
	50%{
		top: 50%;
		transform: translateY(-50%);
		opacity: 0;	
	}
	100%{
		top: 50%;
		transform: translateY(-50%);
		opacity: 1;
	}
}
@keyframes bottomLineReverse {
	0%{
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	50%{
		top: 50%;
		transform: translateY(-50%) rotate(0);
	}
	100%{
		top: 100%;
		transform: translateY(-100%) rotate(0);
	}
}

/* First Section of website, with logo */
#intro {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;

	min-height: auto;
	max-height: 300px;
	height: 100vh;

	& > .logo {
		width: 65vw;
		min-width: 240px;
		max-width: 360px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		& > img {
			width: 100%
		}
		& > .social {
			.centered {
				a {
					width: 28px;
					height: 28px;
				}
			}
		}
	}
}

/* Mosaic or Grid with highlights */
#highlights {
	margin-top: 36px;
	padding: 0 24px 36px 24px;
	.grid {
		margin-top: 12px;
		display: grid;
		gap: 8px;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		grid-auto-rows: 240px;
		& > .card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
			border-radius: 2px;
			transition: 0.5s;
			position: relative;
			overflow: hidden;
			cursor: pointer;

			& > .overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.6);
				transition: 0.2s;
			}

			& > .title {
				color: white;
				z-index: 2;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 20px;
				transition: 0.5s;
				white-space: nowrap;
				color: var(--white-color);
				text-overflow: ellipsis;
				max-width: 90%;
				white-space: nowrap;
				overflow: hidden;

			}

			& > img {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: auto;
				min-width: 260px;
			}

			&.tall {
				& > img {
					height: 100% !important;
					width: 100% !important;
				}
			}

			&.hide-sm {
				display: none;
			}
			&.hide-lg {
				display: none;
			}

			&:hover {
				& > .overlay {
					background-color: rgba(0, 0, 0, 0.6);
					&::after {
						content: '';
						position: absolute;
						top: 0; left: 0; bottom: 0; right: 0;
						background: radial-gradient(circle, transparent 50%, #000 200%);
					}
				}
				& > .title {
					top: 50%;
				}
			}
		}
	}
}

/* Articles Section of the webiste*/
#articles {
	margin-top: 36px;
	padding: 0 24px 36px 24px;
	& > .grid {
		margin-top: 32px;
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 16px;
		& > div {
			width: 100%;
			max-width: 90vw;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			.card {
				cursor: pointer;
				max-width: 240px;
				margin-bottom: 36px;
				border: 1px solid #e2e2e2e2;
				padding-bottom: 16px;
				transition: box-shadow .3s, transform .3s;
				.thumb {
					display: block;
					position: relative;
					height: 200px;
					overflow: hidden;
					img {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						width: 110%;
					}
				}
				.title {
					margin-top: 12px;
					margin-left: 12px;
					border-radius: 10px;
					padding: 4px 30px;
					background-color: var(--light-pink);
					color: #fff;
					font-size: 12px;
					text-align: center;
					width: fit-content;
				}
				header {
					font-weight: bold;
					padding: 12px;
					font-size: 14px;
				}
				.date {
					font-size: 12px;
					color: #757575;
					padding: 0 12px;
				}
				&:hover {
					box-shadow: 2px 2px 4px 0 rgba(0,0,0,.15);
    				transform: scale(1.02);
				}
			}
			&.makeup .card .title {
				background-color: var(--primary-color);
			}
			&.hair .card .title {
				background-color: rgb(207, 126, 33);
			}
			&.care .card .title {
				background-color: var(--light-green);
			}
			&.food .card .title {
				background-color: #631563;
			}
			&.exercises .card .title {
				background-color: rgb(255, 38, 0);
			}
			&.sports .card .title {
				background-color: #7a7ad8;
			}
		}
	}
}

/* Articles Section of the webiste*/
#article {
    margin-top: 36px;
    margin-bottom: 35px;
    padding: 0 24px;

    .thumb {
        position: relative;
        min-height: 200px;
        height: 25vw;
        overflow: hidden;
        max-height: 310px;
        margin-bottom: 30px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }

    .title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .date {
        margin-top: 15px;
        font-size: 14   px;
        color: #757575;
        padding: 0 12px;
    }

    p {
        line-height: 22px;
        text-align: justify;
    }
}

footer {
	position: relative;
	margin-top: 24px;
	width: 100vw;
	height: 64px;
	background-color: var(--primary-color);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	& > div {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 6px;
		display: flex;
		justify-content: center;
		div {
			font-size: 10px;
			color: #fff;
			margin-right: 12px;
			a {
				color: #fff;
			}
			&:nth-child(2) {
				color: #f0caca;
				a {
					color: #f0caca;
				}
			}
		}
	}
}

.title-wrapping {
	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		content: "";
		display: block;
		width: 25%;
		height: 2px;
		border-radius: 50px;
		background-color: #df5b99;
		margin-right: 15px;
	}
	&.smaller::before {
		width: 15%;
	}

	&::after {
		content: "";
		display: block;
		width: 25%;
		height: 2px;
		border-radius: 50px;
		background-color: #df5b99;
		margin-left: 15px;
	}
	&.smaller::after {
		width: 15%;
	}
}

@media screen and (min-width: 380px) {
	.title-wrapping {
		&.smaller::before {
			width: 20%;
		}
		&.smaller::after {
			width: 20%;
		}
	}
}

/* Keyframe Animations */

@keyframes come-right {
	from { transform: translateX(-120%); }
	to { transform: translateX(0%); }
}

@keyframes bounce {
	0% {
		transform: translate(0, 0);
		box-shadow: none;
	}
	6% {
		transform: translate(0, -12px);
		box-shadow: 0px 5px 2px -2px rgba(0,0,0, 0.3);
	}
	14% {
		transform: translate(0, 0);
		box-shadow: none;
	}
  }


/* Media Queries */
@media screen and (min-width: 426px) {
	.invisilayer {
		display: none;
	}
	.title-wrapping {
		&.smaller::before {
			width: 25%;
		}
		&.smaller::after {
			width: 25%;
		}
	}
	nav {
		background-color: var(--white-color);
		box-shadow: 0 3px 4px -4px #ebebeb;
		animation: come-right 1s forwards;
		& > .social {
			display: none;
		}
		& > .burger {
			display: none;
		}
		div.side-nav-content {
			position: relative;
			width: 100%;
			height: auto;
			display: block;
			background-color: var(--white-color);
			transform: none;
			box-shadow: none;
			& > ul {
				background-color: transparent;
				position: relative;
				top: 0;
				margin: 0;
				padding-left: 12px;
				font-size: 11px;
				width: 100%;
				height: auto;
				transform: none;
				box-shadow: none;
				& > li {
					cursor: pointer;
					display: inline-block;
					margin-right: 0px;
					transition: transform 0.2s;
					color: #000;
					font-size: 12px;
					padding: 8px;
					&:hover .drop-list {
						opacity: 1;
						top: 40px;
						left: 0;
						box-shadow: 2px 2px 5px 0 rgba(0,0,0, 0.2);
						border-radius: 4px;
					}
					&:hover {
						transform: translateY(-2px);
					}

					&.active {
						color: var(--primary-color);
						font-weight: bold;
						font-size: 12px;
						text-shadow: none;
					}
				}
			}
		}
	}
	#intro {
		& > .logo {
			max-width: 300px;
			width: 55vw;
			margin-top: 10px;
			& > .social {
				display: block;
				position: relative;
				& > .centered {
					& > a {
						border-radius: 50%;
						animation: bounce 5s infinite;
					}
					@for $num from 1 through 8 {
						& > a:nth-child(#{$num}) {
						animation-delay: $num * 0.2s;
						}
					}
				}
			}
		}
	}
	.division {
		margin: 20px auto 0px auto;
	}
	#articles {
		& > .grid {
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			& > div {
				.card {
					max-width: 300px;
				}
			}
		}
	}
}

@media screen and (min-width: 769px) {
	#intro {
		min-height: 55vh;
		max-height: 300px;
		height: 100vh;
		& > .logo {
			max-width: 540px;
			& > .social {
				.centered {
					width: 240px;
					a {
						width: 36px;
						height: 36px;
					}
				}
			}
		}
	}
	.division {
		width: 95vw;
		margin-top: 32px;
		margin-bottom: 32px;
	}
	& > img {
		width: 50vw;
	}
	#highlights {
		.grid {
			& > .card {
				&.hide-sm {
					display: flex;
				}
				& > .overlay {
					background-color: rgba(0, 0, 0, 0.3);
				}
				& > .title {
					top: 120%;
				}
			}
		}
	}

	nav {
		div.side-nav-content {
			& > ul {
				padding-left: 18px;
				font-size: 14px;
				& > li {
					margin-right: 8px;
					font-size: 14px;
					padding: 12px;
					&.active {
						font-size: 14px;
					}
				}
			}
		}
	}
	#highlights {
		.grid {
			& > .card {
				&.tall {
					grid-row: span 2 / auto;
				}
				&.wide {
					grid-column: span 2 / auto;
				}
				&.ultra-wide {
					grid-column:  1 /-1;
				}
			}
		}
	}
}

@media screen and (min-width: 921px) {
	.content {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	nav {
		div.side-nav-content {
			& > ul {
				& > li {
					margin-right: 12px;
				}
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	#highlights {
		.grid {
			& > .card {
				&.hide-lg {
					display: flex;
				}
			}
		}
	}
}

@media screen and (min-width: 1281px) {
	.content {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 1500px) {
	.content {
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
	}
}
