/* Common Variables */
:root {
  --primary-color: #df5b99;
  --light-color: #e4e4e4;
  --dark-pink: #df5b99bf;
  --purple: #7f12aa;
  --green: #0b9238;
  --light-green: #60c482;
  --white-color: #fff;
}

/* Global and Misc Styles */
html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: var(--white-color);
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: var(--primary-color);
	&.title {
		text-align: center;
	}
}

.division {
	width: 90vw;
	height: 2px;
	margin: auto;
	background-color: var(--light-color);
	margin-top: 20px;
	margin-bottom: 20px;
}

.invisilayer {
	right: 0;
	&.active {
		display: block;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 5;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
}

.social {
	.centered {
		margin: auto;
		width: 120px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		a {
			width: 20px;
			height: 20px;
			background-size: 100%;
			background-position: center;
			&.face {
				background-image: url("../icons/facebook.svg");
				&:hover {
					background-image: url("../icons/facebook-pink.svg");
				}
				&.white {
					background-image: url("../icons/facebook-white.svg");
				}
			}
			&.insta {
				background-image: url("../icons/instagram.svg");
				&:hover {
					background-image: url("../icons/instagram-pink.svg");
				}
				&.white {
					background-image: url("../icons/instagram-white.svg");
				}
			}
			&.tweet {
				background-image: url("../icons/twitter.svg");
				&:hover {
					background-image: url("../icons/twitter-pink.svg");
				}
				&.white {
					background-image: url("../icons/twitter-white.svg");
				}
			}
			&.whats {
				background-image: url("../icons/whatsapp.svg");
				&:hover {
					background-image: url("../icons/whatsapp-pink.svg");
				}
				&.white {
					background-image: url("../icons/whatsapp-white.svg");
				}
			}
		}
	}
}

/* Floating Navigation Bar and Hamburger */
nav {
	position: fixed;
	left: 0;
	right: 0;
	top: -2px;
	height: 42px;
	background-color: var(--light-green);
	box-shadow: 0px 0px 2px 3px rgba(0,0,0,.15);
	font-family: 'Open Sans', sans-serif;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 10;

	& > ul {
		list-style: none;
		position: absolute;
		background-color: var(--light-green);
		z-index: 2;
		font-size: 12px;
		top: 24px;
		left: 0;
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 0;
		width: 120px;
		transform: translateX(-110%);
		transition: transform 0.5s;
		height: 100vh;
		box-shadow: 1px 10px 2px 2px rgba(0,0,0,.15);
		&.active {
			transform: translateX(0);
		}

		& > li {
			cursor: pointer;
			padding: 8px 12px;
			border-top: 1px solid var(--white-color);
			color: var(--white-color);

			& > .drop-list {
				position: absolute;
				top: -400px;
				opacity: 0;
				transition: opacity 0.4s;
				z-index: 5;
				padding: 20px 0;
				background: var(--white-color);
				&::after {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 16px;
					bottom: 0;
					width: 3px;
					background: var(--green);
				}
				& > a {
					display: block;
					font-style: normal;
					text-decoration: none;
					margin-top: 16px;
					color: #000;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					width: 100%;
					padding: 0 16px;
					&:hover {
						text-decoration: underline;
					}
					&  > .icon{
						width: 16px;
						height: 16px;
						margin-right: 8px;
					}
				}
			}
			&.active {
				color: var(--white-color);
				font-weight: bold;
				font-size: 16px;
				text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.1)
			}
			&.hoverable:hover .drop-list {
				opacity: 1;
				top: 0;
				left: 100%;
				padding: 0;
				padding-bottom: 16px;
				&::after {
					top: 0;
				}
			}
			&:hover {
				transform: translateY(-2px);
			}
			&:nth-child(1) {
				border-top: none;
			}
		}
	}

	& > .burger {
		display: block;
		position: fixed;
		left: 14px;
		top: 15px;
		& > .line {
			width: 16px;
			height: 2px;
			background: var(--white-color);
			margin-bottom: 3px;
			transition: transform 0.3s;
		}
		&.active {
			& > .line:nth-child(1) {
				position: absolute;
				transform: rotate(45deg) translate(2px, 4px);
			}
			& > .line:nth-child(2) {
				display: none;
			}
			& > .line:nth-child(3) {
				position: absolute;
				transform: rotate(-45deg) translate(-4px, 2px);
			}
		}
	}
}

/* First Section of website, with logo */
#intro {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
	padding-top: 42px;

	min-height: auto;
	max-height: 320px;
	height: 100vh;

	& > .logo {
		width: 65vw;
		min-width: 240px;
		max-width: 360px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding-top: 42px;
		& > img {
			width: 100%
		}
		& > .social {
			display: none;
			.centered {
				a {
					width: 28px;
					height: 28px;
				}
			}
		}
	}
}

/* Mosaic or Grid with highlights */
#highlights {
	margin-top: 36px;
	padding: 0 24px 36px 24px;
	.grid {
		margin-top: 12px;
		display: grid;
		gap: 8px;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		grid-auto-rows: 240px;
		& > .card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
			border-radius: 2px;
			transition: 0.5s;
			position: relative;
			overflow: hidden;
			cursor: pointer;

			& > .overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.8);
				transition: 0.2s;
			}

			& > .title {
				color: white;
				z-index: 2;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 16px;
				transition: 0.5s;
				white-space: nowrap;
				color: var(--white-color);
				text-overflow: ellipsis;
				max-width: 90%;
				white-space: nowrap;
				overflow: hidden;

			}

			& > img {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: auto;
				min-width: 260px;
			}

			&.tall {
				& > img {
					height: 100% !important;
					width: 100% !important;
				}
			}

			&.hide-sm {
				display: none;
			}
			&.hide-lg {
				display: none;
			}

			&:hover {
				& > .overlay {
					background-color: rgba(0, 0, 0, 0.8);
					&::after {
						content: '';
						position: absolute;
						top: 0; left: 0; bottom: 0; right: 0;
						background: radial-gradient(circle, transparent 50%, #000 200%);
					}
				}
				& > .title {
					top: 50%;
				}
			}
		}
	}
}

/* Articles Section of the webiste*/
#articles {
	margin-top: 36px;
	padding: 0 24px 36px 24px;
	& > .grid {

		margin-top: 32px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		column-gap: 16px;
		row-gap: 64px;
		& > div {
			width: 100%;
			max-width: 90vw;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			.title {
				border-radius: 10px;
				padding: 4px 16px;
				margin-bottom: 12px;
				background-color: #df5b98;
				color: #fff;
				font-size: 12px;
				min-width: 72px;
				text-align: center;
			}
			&:nth-of-type(even) {
				.title {
					background-color: var(--green);
				}
			}
			.card {
				cursor: pointer;
				max-width: 240px;
				margin-bottom: 36px;
				border: 1px solid #e2e2e2e2;
				padding-bottom: 16px;
				transition: border 0.2s;
				.thumb {
					position: relative;
					height: 200px;
					overflow: hidden;
					img {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						width: 110%;
					}
				}
				header {
					font-weight: bold;
					padding: 12px;
					font-size: 14px;
				}
				.date {
					font-size: 12px;
					color: #757575;
					padding: 0 12px;
				}
				&:hover {
					border: 1px solid #c9c8c8;
				}
			}
		}
	}
}

footer {
	position: relative;
	margin-top: 24px;
	width: 100vw;
	height: 64px;
	background-color: var(--primary-color);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	div {
		position: absolute;
		font-size: 12px;
		color: #fff;
		right: 24px;
		bottom: 4px;
		a {
			color: #fff;
		}
	}
}

/* Keyframe Animations */

@keyframes come-right {
	from { transform: translateX(-120%); }
	to { transform: translateX(0%); }
}

@keyframes bounce {
	0% {
		transform: translate(0, 0);
		box-shadow: none;
	}
	6% {
		transform: translate(0, -12px);
		box-shadow: 0px 5px 2px -2px rgba(0,0,0, 0.3);
	}
	14% {
		transform: translate(0, 0);
		box-shadow: none;
	}
  }


/* Media Queries */
@media screen and (min-width: 426px) {
	.invisilay {
		display: none;
	}
	nav {
		background-color: var(--white-color);
		box-shadow: 0 3px 4px -4px #ebebeb;
		animation: come-right 1s forwards;
		& > .social {
			display: none;
		}
		& > .burger {
			display: none;
		}
		& > ul {
			background-color: transparent;
			position: relative;
			top: 0;
			margin: 0;
			padding-left: 12px;
			font-size: 11px;
			width: 100%;
			height: auto;
			transform: none;
			box-shadow: none;
			& > li {
				cursor: pointer;
				display: inline-block;
				margin-right: 0px;
				transition: transform 0.2s;
				color: #000;
				&.hoverable:hover .drop-list {
					opacity: 1;
					top: 28px;
					left: 0;
					padding-top: 20px;
					&::after {
						top: 13px;
					}
				}
				&:hover {
					transform: translateY(-2px);
				}

				&.active {
					color: var(--primary-color);
					font-weight: bold;
					font-size: unset;
					text-shadow: none;
				}
			}
		}
	}
	#intro {
		& > .logo {
			max-width: 540px;
			width: 55vw;
			& > .social {
				display: block;
				position: relative;
				& > .centered {
					& > a {
						border-radius: 50%;
						animation: bounce 5s infinite;
					}
					@for $num from 1 through 8 {
						& > a:nth-child(#{$num}) {
						animation-delay: $num * 0.2s;
						}
					}
				}
			}
		}
	}
	#articles {
		& > .grid {
			& > div {
				.card {
					max-width: 300px;
				}
			}
		}
	}
}

@media screen and (min-width: 769px) {
	#intro {
		min-height: 60vh;
		max-height: 400px;
		height: 100vh;
		& > .logo {
			& > .social {
				.centered {
					width: 240px;
					a {
						width: 36px;
						height: 36px;
					}
				}
			}
		}
	}
	.division {
		width: 95vw;
		margin-top: 32px;
		margin-bottom: 32px;
	}
	& > img {
		width: 50vw;
	}
	#highlights {
		.grid {
			& > .card {
				&.hide-sm {
					display: flex;
				}
				& > .overlay {
					background-color: rgba(0, 0, 0, 0.6);
				}
				& > .title {
					top: 120%;
				}
			}
		}
	}

	nav {
		& > ul {
			padding-left: 18px;
			font-size: 14px;
			& > li {
				margin-right: 8px;
			}
		}
	}
	#highlights {
		.grid {
			& > .card {
				&.tall {
					grid-row: span 2 / auto;
				}
				&.wide {
					grid-column: span 2 / auto;
				}
				&.ultra-wide {
					grid-column:  1 /-1;
				}
			}
		}
	}
}

@media screen and (min-width: 921px) {
	.content {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}

	nav {
		& > ul {
			& > li {
				margin-right: 12px;
			}
		}
	}
	#intro {
		max-height: 600px;
	}
}
@media screen and (min-width: 1024px) {
	#highlights {
		.grid {
			& > .card {
				&.hide-lg {
					display: flex;
				}
			}
		}
	}
}

@media screen and (min-width: 1281px) {
	.content {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 1500px) {
	.content {
		max-width: 1476px;
		margin-left: auto;
		margin-right: auto;
	}
}
