@import "variables";

* { box-sizing: border-box; }

body {
    background:#fff;
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca',sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}



#introduction {
    background: #222;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.4);
    & > *:not(.space-invader):not(.down) {
        animation: show-up 1s forwards;
        animation-delay: 1.8s;
        opacity: 0;
    }
    .avatar {
        overflow: hidden;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
        transition: 1s;
        box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.3);
        img {
            width: 110%;
            transform: translateX(-8px);
            transition: 0.5s;
            filter: grayscale(30%);
        }
        &:hover {
            img {
                width: 125%;
                filter: grayscale(30%) blur(1px);
            }
        }
    }
    .subtitle {
        font-size: 1.5rem;
        margin-bottom: 16px;
        max-width: 80vw;
        text-align: center;
        cursor: default;
        span {
            color: $primary;
            transition: color 0.2s;
            &:hover {
                color: $light;
            }
        }
    }
    .division {
        margin-bottom: 24px;
    }
    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 192px;
        img {
            width: 36px;
            border: 2px solid #FFF;
            height: 36px;
            cursor: pointer;
            transition: .2s;
            border-radius: 50%;
            background: #fff;
            &:hover {
                transform: translateY(-4px);
            }
        }
    }
    .space-invader {
        position: absolute;
        top: 8px;
        left: -64px;
        animation-name: space-invader, invader-go-right;
        animation-fill-mode: none, forwards;
        animation-duration: 1s, 4s;
        animation-iteration-count: infinite, 1;
        animation-timing-function: ease-in-out, linear;
        animation-delay: 0s, 4s;
    }
    .down {
        width: 92px;
        height: 92px;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        bottom: 32px;
        left: 50%;
        border-radius: 50%;
        transform: translateX(-50%);
        transition: 0.4s;
        animation: show 1s forwards;
        animation-delay: 4.5s;
        opacity: 0;
        &:hover {
            bottom: 16px;
        }
        .arrow {
            background: #fff;
            width: 36px;
            height: 6px;
            border-radius: 2px;
            top: 52px;
            left: 11px;
            position: relative;
            transform: rotate(45deg) translateY(-8px);
            animation: bounce 2s infinite ease-in-out;
            animation-delay: 5s;
            &::after {
                content: '';
                display: block;
                background: inherit;
                width: 36px;
                height: 6px;
                border-radius: 2px;
                position: absolute;
                left: 16px;
                top: -16px;
                transform: rotate(90deg);
            }
        }
    }
}

#works {
    background: #fff;
    width: 100vw;
    padding: 8px 32px;
    min-height: 300px;
    & > div:not(.division) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 48px;
        margin-top: 48px;
        .image {
            width: 60%;
            padding: 0 16px 0 0;
            img {
                width: 100%;
                box-shadow: 4px 12px 4px -4px rgba(0,0,0,.3);
                border: 1px solid #e2e2e2;
                border-radius: 4px;
                transition: 0.4s;
                &:hover {
                    box-shadow: 4px 16px 8px -4px rgba(0,0,0,.3);
                    transform: translateY(-2px);
                }
            }
        }
        .summary {
            width: 50%;
            padding: 0 0 0 16px;
            .title {
                margin-bottom: 32px;
                font-size: 1.2rem;
                color: $primary;
                font-weight: bold;
            }
            .text {
                font-size: 0.85rem;
                text-align: justify;
            }
        }
        .badges {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            margin-top: 32px;
            .badge {
                margin-right: 12px;
                margin-bottom: 8px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.15);
                transition: 0.2s;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img {
                    width: 90%;
                    border-radius: 50%;
                }
                &:hover {
                    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2);
                    transform: translateY(-2px);
                    img {
                        width: 100%;
                    }
                    .label {
                        opacity: 1;
                    }
                }
            }
        }
        &:nth-child(4n + 4) {
            flex-direction: row-reverse;
            .summary {
                padding: 0 16px 0 0;
            }
            .image {
                padding: 0 0 0 16px;
            }
        }
    }
}

#experience {
    background: #222;
    width: 100vw;
    min-height: 300px;
    padding: 8px 32px;
    color: #fff;
    .company {
        width: 64px;
        height: 64px;
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            transition: 0.4s;
            &:hover {
                width: 120%;
            }
        }
    }

}

#projects {
    background: #fff;
    padding: 8px 32px;
    padding-bottom: 64px;
    width: 100vw;

    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        .item {
            background: #222;
            width: 100%;
            min-height: 200px;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: 0.4s;
                width: 120%;
                &:hover {
                    width: 140%;
                }
            }
        }
    }
}

#credits {
    background: #e2e2e2;
    padding: 8px 32px;
    width: 100vw;
}

.division {
    background: #fff;
    height: 2px;
    width: 100%;
    border-radius: 4px;
    margin: 8px 0;
    &.sm {
        width: 128px;
    }
    &.dark {
        background: #ebebeb;
    }
}

.space-invader {
    border: 2px solid #fff;
    background-color: #fff;
    float: left;
    width: 0.25em;
    height: 0.25em;
    margin: 40px 40px;
    box-shadow:
        0 0 0 .25em #fff,
        0 .25em 0 .25em #fff,
        -.625em .375em 0 .125em #fff,
        .625em .375em 0 .125em #fff,
        -.75em -.75em 0 0 #fff,
        .75em -.75em 0 0 #fff,
        -.5em -.5em 0 0 #fff,
        .5em -.5em 0 0 #fff,
        -.75em -.25em 0 0 #fff,
        -.5em -.25em 0 0 #fff,
        .5em -.25em 0 0 #fff,
        .75em -.25em 0 0 #fff,
        -1em 0 0 0 #fff,
        -.75em 0 0 0 #fff,
        .75em 0 0 0 #fff,
        1em 0 0 0 #fff,
        -1em .25em 0 0 #fff,
        1em .25em 0 0 #fff,
        -.75em .75em 0 0 #fff,
        .75em .75em 0 0 #fff,
        /* Left Arm */
        1.25em .25em 0 0 #fff,
        1.25em .5em 0 0 #fff,
        1.25em .75em 0 0 #fff,
        /* Right Arm */
        -1.25em .25em 0 0 #fff,
        -1.25em .5em 0 0 #fff,
        -1.25em .75em 0 0 #fff,
        /* Left Foot */
        -.25em 1em 0 0 #fff,
        -.5em 1em 0 0 #fff,
        /* Right Foot */
        .25em 1em 0 0 #fff,
        .5em 1em 0 0 #fff;
    animation: 1s space-invader infinite;
}

@keyframes invader-go-right {
    from { left: -64px }
    to { left: 105vw; }
}

@keyframes space-invader {
  50% {
    box-shadow:
      0 0 0 .25em #fff,
      0 .25em 0 .25em #fff,
      -.625em .375em 0 .125em #fff,
      .625em .375em 0 .125em #fff,
      -.75em -.75em 0 0 #fff,
      .75em -.75em 0 0 #fff,
      -.5em -.5em 0 0 #fff,
      .5em -.5em 0 0 #fff,
      -.75em -.25em 0 0 #fff,
      -.5em -.25em 0 0 #fff,
      .5em -.25em 0 0 #fff,
      .75em -.25em 0 0 #fff,
      -1em 0 0 0 #fff,
      -.75em 0 0 0 #fff,
      .75em 0 0 0 #fff,
      1em 0 0 0 #fff,
      -1em .25em 0 0 #fff,
      1em .25em 0 0 #fff,
      -.75em .75em 0 0 #fff,
      .75em .75em 0 0 #fff,
      /* Left Arm */
      1.25em 0 0 0 #fff,
      1.25em -.25em 0 0 #fff,
      1.25em -.5em 0 0 #fff,
      /* Right Arm */
      -1.25em 0 0 0 #fff,
      -1.25em -.25em 0 0 #fff,
      -1.25em -.5em 0 0 #fff,
      /* Left Foot */
      -1em 1em 0 0 #fff,
      -1em 1em 0 0 #fff,
      /* Right Foot */
      1em 1em 0 0 #fff,
      1em 1em 0 0 #fff;
  }
}

@keyframes show-up {
    from {
        transform: translateY(16px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        top: 52px;
    }
    25% {
        top: 58px;
    }
    50% {
        top: 52px;
    }
}

@media screen and (max-width: 910px) {
    #projects {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media screen and (max-width: 720px) {
    #works {
        & > div {
            flex-direction: column !important;
            .image {
                width: 80% !important;
                margin-bottom: 32px;
            }
            .summary {
                width: 80% !important;
                .title {
                    text-align: center;
                    margin-bottom: 24px;
                    font-size: 1rem;
                }
            }
            .badges {
                padding: 0 72px;
                .badge {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

    #projects {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 560px) {
    h2 {
        font-size: 1.2rem;
    }
    #introduction {
        .avatar {
            width: 120px;
            height: 120px;
            img {
                transform: translateX(-4px);
            }
        }
        .subtitle {
            font-size: 1rem;
        }
        .social {
            width: 156px;
            img {
                width: 28px;
                height: 28px;
            }
        }
    }
    #works {
        & > div {
            flex-direction: column;
            .image {
                width: 100% !important;
                margin-bottom: 32px;
                padding: 0 !important;
            }
            .summary {
                width: 100% !important;
                padding: 0 !important;
            }
            .badges {
                padding: 0 !important;
                .badge {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
    #projects {
        .grid {
            grid-template-columns: 1fr;
            .item {
                max-height: 200px;
            }
        }
    }
}