@import "variables";

* { box-sizing: border-box; }

body {
    background:#fff;
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca',sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}


#introduction {
    background: #121c24;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.4);
    & > *:not(.space-invader):not(.down) {
        animation: show-up 1s forwards;
        animation-delay: 1.8s;
        opacity: 0;
    }
    .avatar {
        overflow: hidden;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
        transition: 1s;
        box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.3);
        filter: grayscale(30%);
        transition: 0.5s filter;

        img {
            width: 110%;
            transform: translateX(-8px);
            transition: 0.5s;
        }
        &:hover {
            filter: grayscale(30%) blur(1px);
            img {
                width: 125%;
            }
        }
    }
    .subtitle {
        font-size: 1.5rem;
        margin-bottom: 16px;
        max-width: 80vw;
        text-align: center;
        cursor: default;
        span {
            color: $primary;
            transition: color 0.2s;
            &:hover {
                color: $light;
            }
        }
    }
    .division {
        margin-bottom: 24px;
    }
    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 192px;

        img {
            width: 36px;
            border: 2px solid #FFF;
            height: 36px;
            cursor: pointer;
            transition: .2s;
            border-radius: 50%;
            background: #fff;
            &:hover {
                transform: translateY(-4px);
            }
        }
    }
    .space-invader {
        position: absolute;
        top: 8px;
        left: -64px;
        animation-name: space-invader, invader-go-right;
        animation-fill-mode: none, forwards;
        animation-duration: 1s, 4s;
        animation-iteration-count: infinite, 1;
        animation-timing-function: ease-in-out, linear;
        animation-delay: 0s, 4s;
    }
    .down {
        width: 92px;
        height: 92px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        bottom: 22px;
        left: 50%;
        border-radius: 50%;
        transform: translateX(-50%) scale(0.75);
        transition: 0.4s;
        animation: show 1s forwards;
        animation-delay: 4.5s;
        opacity: 0;
        &:hover {
            bottom: 16px;
        }
        .arrow {
            background: #fff;
            width: 36px;
            height: 6px;
            border-radius: 2px;
            top: 52px;
            left: 11px;
            position: relative;
            transform: rotate(45deg) translateY(-8px);
            animation: bounce 2s infinite ease-in-out;
            animation-delay: 5s;
            &::after {
                content: '';
                display: block;
                background: inherit;
                width: 36px;
                height: 6px;
                border-radius: 2px;
                position: absolute;
                left: 16px;
                top: -16px;
                transform: rotate(90deg);
            }
        }
    }
    .version {
        font-size: 0.7rem;
        color: #fff;
        position: absolute;
        bottom: 8px;
        left: 8px;
        span {
            color: #3f3f3f;
        }
    }
}

#works {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 8px 32px;
    min-height: 300px;
    max-width: 900px;
    margin: auto;
    & > div:not(.division) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 48px;
        margin-top: 48px;
        .image {
            width: 60%;
            padding: 0 16px 0 0;
            img {
                width: 100%;
                box-shadow: 4px 12px 4px -4px rgba(0,0,0,.3);
                border: 1px solid #e2e2e2;
                border-radius: 4px;
                transition: 0.4s;
                &:hover {
                    box-shadow: 4px 16px 8px -4px rgba(0,0,0,.3);
                    transform: translateY(-2px);
                }
            }
        }
        .summary {
            width: 50%;
            padding: 0 0 0 16px;
            .title {
                margin-bottom: 32px;
                font-size: 1.2rem;
                color: $primary;
                font-weight: bold;
            }
            .text {
                font-size: 0.85rem;
                text-align: justify;
            }
        }
        .badges {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            margin-top: 32px;
            .badge {
                margin-right: 12px;
                margin-bottom: 8px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25);
                transition: 0.2s;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img {
                    width: 90%;
                    border-radius: 50%;
                }
                &:hover {
                    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.3);
                    transform: translateY(-2px);
                    img {
                        width: 100%;
                    }
                    .label {
                        opacity: 1;
                    }
                }
            }
        }
        &:nth-child(4n + 4) {
            flex-direction: row-reverse;
            .summary {
                padding: 0 16px 0 0;
            }
            .image {
                padding: 0 0 0 16px;
            }
        }
    }
}

#experience {
    background: #121c24;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 300px;
    padding: 8px 32px 32px 8px;
    color: #fff;
    .timeline {
        max-width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: 4px 1fr;
        padding: 8px 0 36px 32px;
        .line {
            background: #fff;
            &.latest {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
                background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            }
            height: 100%;
            width: 100%;
            position: relative;
            min-height: 128px;
            .dot {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 36px;
                height: 36px;
                background: #fff;
                border-radius: 50%;
            }
            &.oldest {
                .dot {
                    top: 100%;
                }
            }
        }
        .time {
            padding: 32px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            max-width: 100vw;
            &.oldest {
                padding-bottom: 0;
            }
            .company {
                width: 64px;
                height: 64px;
                min-width: 64px;
                background: #fff;
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                    transition: 0.4s;
                    &:hover {
                        width: 120%;
                    }
                }
            }
            .description {
                padding-left: 16px;
                .about {
                    color: #e2e2e2;
                    text-align: justify;
                    font-size: 0.85rem;

                    max-width: 65vw;
                }
                .badges {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: row;
                    margin-top: 32px;
                    .ibm-badge {
                        width: 64px;
                        height: 64px;
                        display: block;
                        margin-right: 8px;
                        img {
                            width: inherit;
                            height: inherit;
                        }
                    }
                }
            }
        }
    }
}

#projects {
    background: #fff;
    padding: 8px 32px;
    padding-bottom: 64px;
    max-width: 900px;
    margin: auto;
    overflow-x: hidden;
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        max-height: 400px;
        overflow-y: auto;
        .item {
            background: #121c24;
            width: 100%;
            min-height: 200px;
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: 0.4s;
                width: 105%;
            }
            & > a {
                cursor: pointer;
                opacity: 0;
                z-index: 1;
                transition: 0.4s;
                background: rgba(0, 0, 0, 0.8);
                color: #fff;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                text-align: center;
            }
            &:hover {
                & > a {
                    opacity: 1;
                }
                img {
                    width: 140%;
                }
            }
        }
    }
}

#credits {
    background: #1d1d1d;
    color: #fff;
    padding: 24px 32px;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 0.5rem;
    position: relative;

    & > div {
        max-width: 400px;
        text-align: center;
        margin: auto;
    }

    a {
        text-decoration: none;
        color: $primary !important;
    }
    .easter-egg {
        color: #3f3f3f;
        font-size: 0.75rem;
        position: absolute;
        bottom: 8px;
        right: 24px;
        cursor: pointer;
    }
}

.division {
    background: #fff;
    height: 2px;
    width: 100%;
    border-radius: 4px;
    margin: 8px 0;
    &.sm {
        width: 128px;
    }
    &.dark {
        background: #ebebeb;
    }
}

.space-invader {
    border: 2px solid #fff;
    background-color: #fff;
    float: left;
    width: 0.25em;
    height: 0.25em;
    margin: 40px 40px;
    box-shadow:
        0 0 0 .25em #fff,
        0 .25em 0 .25em #fff,
        -.625em .375em 0 .125em #fff,
        .625em .375em 0 .125em #fff,
        -.75em -.75em 0 0 #fff,
        .75em -.75em 0 0 #fff,
        -.5em -.5em 0 0 #fff,
        .5em -.5em 0 0 #fff,
        -.75em -.25em 0 0 #fff,
        -.5em -.25em 0 0 #fff,
        .5em -.25em 0 0 #fff,
        .75em -.25em 0 0 #fff,
        -1em 0 0 0 #fff,
        -.75em 0 0 0 #fff,
        .75em 0 0 0 #fff,
        1em 0 0 0 #fff,
        -1em .25em 0 0 #fff,
        1em .25em 0 0 #fff,
        -.75em .75em 0 0 #fff,
        .75em .75em 0 0 #fff,
        /* Left Arm */
        1.25em .25em 0 0 #fff,
        1.25em .5em 0 0 #fff,
        1.25em .75em 0 0 #fff,
        /* Right Arm */
        -1.25em .25em 0 0 #fff,
        -1.25em .5em 0 0 #fff,
        -1.25em .75em 0 0 #fff,
        /* Left Foot */
        -.25em 1em 0 0 #fff,
        -.5em 1em 0 0 #fff,
        /* Right Foot */
        .25em 1em 0 0 #fff,
        .5em 1em 0 0 #fff;
    animation: 1s space-invader infinite;
}

#meicon {
    display: none;
    &.active {
        display: block;
        position: fixed;
        bottom: 0;
        width: 20vw;
        left: 50%;
        transform: translate(-50%, 0);
        animation: meicon 1s infinite ease-in-out;
    }
}

#ellan {
    display: none;
    &.active {
        display: block;
        position: fixed;
        bottom: 0;
        width: 20vw;
        left: 32px;
        animation: ellaue 1s infinite linear;
    }
}

#pinduca {
    display: none;
    &.active {
        display: block;
        position: fixed;
        bottom: 0;
        width: 20vw;
        right: 32px;
        animation: ellaue 1s infinite linear;
    }
}

#mok {
    display: none;
    &.active {
        text-align: center;
        display: block;
        font-size: 3rem;
        position: fixed;
        top: 32px;
        left: 50%;
        color: #00ff00;
        transform: translateX(-50%);
    }
}


@keyframes meicon {
    0% {
        transform: translate(-50%, 0) scale(1) rotate(0);
    }
    25% {
        transform: translate(-50%, -128px) scale(0.7) rotate(180deg);
    }
    50% {
        transform: translate(-50%, -156px) scale(1.2) rotate(360deg);
    }
    75% {
        transform: translate(-50%, -112px) scale(0.2) rotate(360deg);
    }
    100% {
        transform: translate(-50%, 0) scale(1) rotate(0);
    }
}

@keyframes ellaue {
    0% {
        transform: rotateY(0);
        bottom: 0;
    }
    50% {
        transform: rotateY(360deg) rotateX(24deg);
        bottom: 48px;
    }
    100% {
        transform: rotateY(0);
        bottom: 0;
    }
}
@keyframes invader-go-right {
    from { left: -64px }
    to { left: 105vw; }
}

@keyframes space-invader {
  50% {
    box-shadow:
      0 0 0 .25em #fff,
      0 .25em 0 .25em #fff,
      -.625em .375em 0 .125em #fff,
      .625em .375em 0 .125em #fff,
      -.75em -.75em 0 0 #fff,
      .75em -.75em 0 0 #fff,
      -.5em -.5em 0 0 #fff,
      .5em -.5em 0 0 #fff,
      -.75em -.25em 0 0 #fff,
      -.5em -.25em 0 0 #fff,
      .5em -.25em 0 0 #fff,
      .75em -.25em 0 0 #fff,
      -1em 0 0 0 #fff,
      -.75em 0 0 0 #fff,
      .75em 0 0 0 #fff,
      1em 0 0 0 #fff,
      -1em .25em 0 0 #fff,
      1em .25em 0 0 #fff,
      -.75em .75em 0 0 #fff,
      .75em .75em 0 0 #fff,
      /* Left Arm */
      1.25em 0 0 0 #fff,
      1.25em -.25em 0 0 #fff,
      1.25em -.5em 0 0 #fff,
      /* Right Arm */
      -1.25em 0 0 0 #fff,
      -1.25em -.25em 0 0 #fff,
      -1.25em -.5em 0 0 #fff,
      /* Left Foot */
      -1em 1em 0 0 #fff,
      -1em 1em 0 0 #fff,
      /* Right Foot */
      1em 1em 0 0 #fff,
      1em 1em 0 0 #fff;
  }
}

@keyframes show-up {
    from {
        transform: translateY(16px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        top: 52px;
    }
    25% {
        top: 58px;
    }
    50% {
        top: 52px;
    }
}

@media screen and (min-width: 1720px) {
    #works {
        & > div:not(.division) {
            .image {
                width: 40%;
            }
        }
    }
    #projects {
        .grid {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }
    #works {
        & > div {
            .badges {
                .badge {
                    width: 64px !important;
                    height: 64px !important;
                }
            }
        }
    }

    #skills {
        .badges {
            padding: 0 256px;
        }
    }

}

@media screen and (max-width: 910px) {
    #projects {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media screen and (max-width: 720px) {
    #works {
        & > div {
            flex-direction: column !important;
            .image {
                width: 80% !important;
                margin-bottom: 32px;
            }
            .summary {
                width: 80% !important;
                .title {
                    text-align: center;
                    margin-bottom: 24px;
                    font-size: 1rem;
                }
            }
            .badges {
                padding: 0 72px;
                .badge {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

    #projects {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }


    
    #experience {
        .timeline {
            grid-template-columns: 3px 1fr;
            padding: 16px 0 20px 16px;
            .line {
                min-height: 156px;
                .dot {
                    width: 32px;
                    height: 32px;
                }
            }
            .time {
                padding: 24px;
                padding-left: 36px;
                flex-direction: column;
                &.oldest {
                    padding-bottom: 0;
                }
                .description .badges {
                    justify-content: center;
                    align-items: center;
                    margin-top: 48px;
                    margin-bottom: 16px;
                }
            }
        }
        .company {
            width: 48px;
            height: 48px;
            border-radius: 6px;
        }

    }

}

h2.title {
    text-align: center;
    color: #121c24;
}
.text {
    color: #121c24;
}

@media screen and (max-width: 560px) {
    h2 {
        font-size: 1.2rem;
    }
    #introduction {
        .avatar {
            width: 120px;
            height: 120px;
            img {
                transform: translateX(-4px);
            }
        }
        .subtitle {
            font-size: 1rem;
        }
        .social {
            width: 156px;
            img {
                width: 28px;
                height: 28px;
            }
        }
        .down {
            transform: translateX(-50%) scale(0.5);
        }
    }
    #works {
        & > div {
            flex-direction: column;
            .image {
                width: 100% !important;
                margin-bottom: 32px;
                padding: 0 !important;
            }
            .summary {
                width: 100% !important;
                padding: 0 !important;
            }
            .badges {
                padding: 0 !important;
                .badge {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
    #projects {
        .grid {
            grid-template-columns: 1fr;
            .item {
                max-height: 200px;
            }
        }
    }
}