:root {
    --color-darker: #0D0802;
    --color-dark: #024059;
    --color-normal: #026773;
    --color-light: #027373;
    --color-main: #730C02;
}     

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

#introduction{
    width: 100vw;
    height: 100vh;
}

#introduction> div{
    width: 100vw;
    height: 20%;
}

#introduction > div:nth-child(1){
    background: var(--color-darker);
}
#introduction > div:nth-child(2){
    background: var(--color-dark);
}
#introduction > div:nth-child(3){
    background: var(--color-normal);
}
#introduction > div:nth-child(4){
    background: var(--color-light);
}
#introduction > div:nth-child(5){
    background: var(--color-main);
}