

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #222;
}

::-moz-selection {
    color: #fff !important;
    background-color: #50cbb2 !important;
}

::selection {
    color: #fff !important;
    background-color: #50cbb2 !important;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, .7);
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 13px;
    font-size: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#return-to-top:hover {
    background: rgba(0, 0, 0, .9)
}

#return-to-top:hover i {
    color: #fff;
    top: 5px
}

.bold {
    font-weight: 700
}

.light {
    font-weight: 300
}
#group5 .dash-name{
    background-color: #fff;
}
.bgc-1,
.dash-name {
    background-color: #3fab95;
}
.job:hover{
    border-color: #3fab95;
}
.bgc-2, .btn-secondary{
    background-color: #edb6c9;
}
.btn-secondary {
    border-color: #edb6c9;
}
.fc-1 {
    color: #3fab95;
}
a{
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
.fc-2, a:hover, .btn-down:hover{
    color: #edb6c9 !important;
}
.font3 {
    font-size: 3rem;
}

.font5 {
    font-size: 5rem;
}

.font2 {
    font-size: 2rem;
}
.subtitle{
    font-size: 1.2rem;
}
.font1half {
    font-size: 1.5rem;
}

.bgc-opacity {
    background-color: rgba(255, 255, 255, 0.9);
}

.color1 {
    color: #3fab95;
}

#hello img {
    width: 300px;
    box-shadow: 1px 4px 6px 1px #222;
}

.bg-black {
    background-color: #333;
}

.text-hello span {
    text-shadow: 2px 4px 5px #222;
}

.anima-texto {
    opacity: 0;
    -webkit-animation: forwards fadein-texto 0.75s;
    -moz-animation: forwards fadein-texto 0.75s;
    -ms-animation: forwards fadein-texto 0.75s;
    -o-animation: forwards fadein-texto 0.75s;
    animation: forwards fadein-texto 0.75s;
}

@keyframes fadein-texto {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein-texto {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein-texto {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein-texto {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein-texto {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dash-name {
    width: 2px;
    height: 80%;
    position: absolute;
    left: -25px;
}
#particles-js {
    width: 100%;
    height: 100%;
    background-color: #333;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#hello {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    min-height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

.parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}


/* parallax styles
--------------------------------------------- */

body,
html {
    overflow: hidden;
}

/* centre the content in the parallax layers */
.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/* style the groups
--------------------------------------------- */

#group1 {
    z-index: 5;
    /* slide over group 2 */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

#group2 {
    z-index: 3;
    /* slide under groups 1 and 3 */
}

#group2 .parallax__layer--back {
    background-image: url(../../img/slide4.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#group3 {
    z-index: 4;
    /* slide over group 2 and 4 */
    color: #FFF;
    min-height: 1040px;
}

#group3 .skill {
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
#group3 .skill .skill-title{
    text-align: center;    width: 100%;
    font-size: .9rem;
}
#group3 .skill i{
    font-size: 3.5rem;
    color: #3fab95;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
#group3 .skill i:hover{
    color: #edb6c9;
}

#group3 .parallax__layer--base {
    background: #333;
}

#group4 {
    z-index: 2;
    min-height: 840px;
    height: 100vh;
    /* slide under group 3 and 5 */
}

#group4 .parallax__layer--deep {
    background: rgb(184, 223, 101);
}

#group5 {
    z-index: 3;
    min-height: 1050px;
    height: 100vh;
    /* slide over group 4 and 6 */
}

#group6 {
    z-index: 2;
    /* slide under group 5 and 7 */
}

#group6 .parallax__layer--back {
    background: rgb(245, 235, 100);
}

#group7 {
    z-index: 3;
    /* slide over group 7 */
}

#group7 .parallax__layer--base {
    background: rgb(255, 241, 100);
}
#group2 .parallax__layer.parallax__layer--fore {
    position: relative;
}
.job img {
    width: 80%;
}
.btn-down {
    bottom: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.job {
    border: 1px solid #ddd;
    height: 140px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    -webkit-transition:all .7s ease-in-out;
    -moz-transition:all .7s ease-in-out;
    -ms-transition:all .7s ease-in-out;
    -o-transition:all .7s ease-in-out;
    transition:all .7s ease-in-out;
}
.popover {
    width: 150px;
}
.contato input:focus, .contato textarea:focus {
    box-shadow: 0 0 0 .2rem rgb(254, 174, 200);
    border-color: #ccc;
}
.footer .fa-heart{
    -webkit-animation: turuturu 1150ms infinite;
    animation: turuturu 1150ms infinite;
}
@-webkit-keyframes turuturu{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    25%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    35%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    50%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes turuturu{
    0%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    25%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    35%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    50%{
        -webkit-transform:scale(1.1);
        transform:scale(1.1)
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
