@keyframes show-background {
    from { opacity: 0; filter: blur(0px);   }
    to { opacity: 0.28;  filter: blur(1px); }
}

@keyframes show-up-margin {
    from { margin-top: 50vh; opacity: 0;}
    to { margin-top: 0vh; opacity: 1;}
}
