@color-primary-dark: #360500;
@color-primary: #730C02;
@color-primary-light: #921509;

@color-secondary: #026773;
@color-secondary-light: #027373;
@color-secondary-dark: #024059;

@color-light: #f5f1f1;
@color-dark: #0D0802;

@font-primary: 'Ubuntu', sans-serif;
@font-secondary: 'Cabin', sans-serif;