@color-light: #f5f1f1;
@color-dark: #0D0802;

@color-blue: #026773;
@color-blue-light: #027373;
@color-blue-dark: #024059;
@color-red: #730C02;

@font-primary: 'Ubuntu', sans-serif;
@font-secondary: 'Cabin', sans-serif;