*{
	font-family: Verdana,Arial
}

body{
	background-color: rgb(200,200,200);
}

ul.navigation{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	list-style-type: none;
	margin:0px;
	padding:0px;
	overflow: hidden;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	background-color: rgba(50,50,50,1);;
	box-shadow: 1px 6px 5px rgba(70,70,70,0.5);
}

#space{
	margin-bottom: 5rem;
}

#finger{
	display: none;
}

li{
	float:left;
}

li a{
	font-size: 2rem;
	display: block;
	color:white;
	text-align: center;
	text-decoration: none;
	padding-right: 1em;
	padding-left:1em;
	padding-top:0.4em;
	padding-bottom: 0.4em;
}

li.navigation a:hover, li.drop a:hover{
	background-color: rgba(20,20,20,0.5);
}

li.drop{
	display: inline-block;
}

.drop-content{
	display: none;
	z-index: 1;
	position: fixed;
	background-color: rgba(50,50,50,0.95);
	box-shadow: 1px 6px 5px rgba(70,70,70,0.5);

}

.drop-content a{
	font-size: 1.5rem;
	text-align: left;
}

li.drop:hover .drop-content{
	display: block;

}