:root {
  --primary: #df5b99;
  --light: #cfcfcf;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
    width: 100vw;
    min-height: 70vh;
    max-height: 280px;
    height: 100vh;
    position: relative;
}

#intro > img {
    width: 50vw;
    min-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 42px;
    background-color: #fff;
    box-shadow: 0 3px 4px -4px #ebebeb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

nav > ul {
    list-style: none;
    font-size: 16px;
    position: relative;
    z-index: 1;
    margin: 0;
}

nav > ul > li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

nav > ul > li.active {
    color :var(--primary);
    font-weight: bold;
}

nav > ul > li > .drop-list {
    position: absolute;
    top: -400px;
    opacity: 0;
    transition: opacity 0.4s;
    z-index: 5;
    padding: 20px 0;
    background: #fff;
}

nav > ul > li > .drop-list::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 16px;
    bottom: 0;
    width: 3px;
    background: #0b9238;
}

nav > ul > li > .drop-list > a{
    display: block;
    font-style: normal;
    text-decoration: none;
    margin-top: 16px;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

nav > ul > li > .drop-list > a:hover {
    text-decoration: underline;
}

nav > ul > li > .drop-list > a  > .icon{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

nav > ul > li.hover:hover .drop-list {
    opacity: 1;
    top: 19px;
}

nav > .burger {
    display: none;
    position: fixed;
    left: 16px;
    top: 16px;
}

nav > .burger > .line {
    width: 22px;
    height: 2px;
    background: #666666;
    margin-bottom: 4px;
}

nav > ul > li:hover {
    transform: translateY(-2px);
}

.division {
    width: 90vw;
    height: 2px;
    margin: auto;
    background-color: #efefef;
    margin-top: 24px;
    margin-bottom: 24px;
}

#highlights {
    padding: 0 24px 12px 24px;
}

#highlights > .title {
    font-size: 24px;
    text-align: center;
}
#highlights .grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 220px;
}

#highlights .grid > .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#highlights .grid > .card > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background-color: rgba(223, 91, 153, 0.75);
    transition: 0.2s;
}

#highlights .grid > .card:hover .overlay::after {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, transparent 50%, rgb(127, 18, 170) 150%);
}
#highlights .grid > .card:hover .overlay {
    opacity: 1;
}

#highlights .grid > .card > .title {
    color: white;
    z-index: 2;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    white-space: nowrap;
    color: #fff;
}

#highlights .grid > .card:hover > .title {
    top: 50%;
}

.vignette-radial:after {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, transparent 50%, black 150%);
  }

#highlights .grid > .card > .bg-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: auto;
    min-width: 260px;
}

.card.tall > .bg-img {
    height: 100% !important;
    width: auto !important;
}

#articles {
    padding: 0 24px 12px 24px;

}


#articles .card {
    width: 200px;
}
#articles .thumb {
    height: 120px;
    overflow: hidden;
}

#articles .text {
    padding-top: 12px;
    font-size: 14px;
}


@media screen and (min-width: 1098px) {
    #highlights .grid > .card.tall {
        grid-row: span 2 / auto;
    }
    #highlights .grid > .card.wide {
        grid-column: span 2 / auto;
    }
    #highlights .grid > .card.ultra-wide {
        grid-column:  1 /-1;
    }
}

@media screen and (max-width: 600px) {

    nav > ul {
        padding-left: 24px;
        font-size: 14px;
    }
}


@media screen and (max-width: 400px) {
    nav > ul {
        display: none;
    }
    nav > .burger {
        display: block;
    }
}